* {
    font-family: sans-serif;
    vertical-align: middle;
}

header {
    font-family: "Arial Black";
    background-color: #47d7ac;
    cursor: pointer;
}

.container {
    margin-top: 60px;
}

footer {
    font-family: "Arial Black";
    background-color: #47d7ac;
    font-size: x-small;
}

.enroll-form {
    padding-top: 30px;
    line-height: normal;
}

.form-group {
    margin: 5px;
}

.form-fill {
    margin-top: 40px;
    border-right: 2px solid #47d7ac;
}

.form-detail {
    margin-bottom: 25px;
}

.form-detail-head {
    font-family: "Arial Black";
    margin: 15px;
}

.student-detail-table {
    margin: 5%;
}

.student-detail-table tr:hover {
    background-color: #ebf2d3;
}

.student-detail-table td,
th {
    border: 2px solid #a7c941;
}

.student-detail-table th {
    background-color: #a7c941;
    font-family: "Arial Black";
    font-size: small;
}

.student-detail-table td {
    line-height: normal;
    font-size: smaller;
}

.student-detail-table tbody tr {
    height: 100px;
    width: 400px;
}

.description-head {
    width: 400px;
    padding: 5px
}

.image-head {
    width: 120px;
    padding: 5px
}

img {
    height: 100px;
    width: 100px;
    text-align: center;
    margin: 10px;
}

tr,
th {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.enroll,
.clear {
    margin-top: 20px;
}

.skills {
    width: 60px;
    padding: 0
}

.inputfield {
    padding: 0
}